{% extends 'base.html.twig' %} {% block title %}Welcome to Vienna Events {% endblock %} {% block body %}

<div class="container">
    <h1 class="text text-center text-danger">Edit Events</h1>

    {{ form(form) }}

    <a href="/" class="btn btn-primary text-danger">Back to Home</a>

</div>
{% endblock %}