 {% extends 'base.html.twig' %} {% block title %}Welcome to Vienna Events{% endblock %} {% block body %}

<div class="container">
    <h1>New Event </h1>

    {{ form(form) }}

    <a href="/" class="btn btn-primary">Back to Home</a>

</div>
{% endblock %}